@using Alpha.Models
@model List<Tag>
<h5 class="card-header">Categories</h5>
<div class="card-body">
    <div class="row">
        @{
            var numberOfTags = Model.Count();
            var remainTags = Model.Count() - numberOfTags / 2;
            <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                    @foreach (var tag in Model.Take(numberOfTags / 2))
                    {
                        <li>
                            <a asp-action="FilterByTagAsync" asp-controller="Article" asp-route-tagId="@tag.Id" asp-route-articlePage="1" title="@tag.Description">@tag.Title</a>
                        </li>
                    }
                </ul>
            </div>
            <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                    @foreach (var tag in Model.Skip(numberOfTags / 2).Take(remainTags))
                    {
                        <li>
                            <a asp-action="FilterByTagAsync" asp-controller="Article" asp-route-tagId="@tag.Id" asp-route-articlePage="1" title="@tag.Description">@tag.Title</a>
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
</div>