@using Alpha.ViewModels

@model ContactUsViewModel

@{
    ViewData["Title"] = "ContactUsForm";
}

<style type="text/css">

    input[type="file"] {
        display: none;
    }

    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }

    /*#upload-area {
        text-align: center;
        background-color: #7fa;
        padding: 50px;
    }

    #upload-area p {
        font-size: 48px;
        margin-bottom: 40px;
    }*/

    #Attachment {
        display: none;
    }

    #btnUploadAttachment {
        padding: 5px 10px;
        background: #eee;
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid #bbb;
    }

        #btnUploadAttachment:hover {
            background-color: #ddd;
        }

    #progress-area {
        padding: 5px;
    }

    .progress-block {
        margin-bottom: 5px;
    }

        .progress-block label {
            line-height: 1.6;
        }

    .progress-bar {
        height: 26px;
        border: 1px solid whitesmoke;
        background-color: whitesmoke;
        position: relative;
        width: 100%;
    }

        .progress-bar span {
            position: absolute;
            left: calc(50% - 30px);
            top: 2px;
        }

        .progress-bar div {
            background-color: blue;
            height: 100%;
        }
</style>

<div id="contactUsFormContainer" class="row">

    <div class="col-xl-8 offset-xl-2 py-5">

        <h1>
            Contact Us
        </h1>

        <p class="lead">If you have a question, please send us a message and we will respond as soon as possible. We would love to hear from you. </p>


        <form id="contact-form" asp-controller="ContactUs" asp-action="ContactUsForm" enctype="multipart/form-data" method="post">

            <div class="messages"></div>
            <div class="controls">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="form_name">Firstname *</label>
                            <input asp-for="@Model.FirstName" type="text" name="FirstName"
                                   maxlength="25" required class="form-control" placeholder="Please enter your firstname">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="form_lastname">Lastname *</label>
                            <input asp-for="@Model.LastName" type="text" name="LastName"
                                   maxlength="25" required class="form-control" placeholder="Please enter your lastname">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="form_email">Email *</label>
                            <input asp-for="@Model.Email" type="email" name="Email"
                                   class="form-control" placeholder="Please enter your email *"
                                   required data-error="Valid email is required.">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label> Title*</label>
                            <input asp-for="@Model.Title" type="text" name="Title" required maxlength="50" class="form-control" placeholder="title *" />
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="form_message">Message *</label>
                            <textarea asp-for="@Model.Description" name="Description"
                                      class="form-control" placeholder="Message for me *" rows="4"
                                      required maxlength="1024" data-error="Please, leave us a message."></textarea>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            @{
                                var firstNumber = new Random(DateTime.Now.Millisecond).Next(1, 10);
                                var secondNumber = new Random(DateTime.Now.Millisecond / 2).Next(1, 20);

                                <input name="FirstNumber" asp-for="@Model.FirstNumber" value="@firstNumber" type="hidden" />
                                <input asp-for="@Model.SecondNumber" value="@secondNumber" type="hidden" />
                                <label>@firstNumber <span>+</span> @secondNumber<span>=</span></label>
                            }
                            <br />
                            @Html.TextBoxFor(m => m.Result, new { @class = "form-control", @required = "required" })

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div id="upload-area">

                                <label id="btnUploadAttachment" asp-for="@Model.Attachment" class="custom-file-upload">
                                    <i class="fa fa-cloud-upload"></i>Upload file
                                </label>
                                <input asp-for="@Model.Attachment"
                                       name="Attachment"
                                       type="file"
                                       class="form-control" />
                                <button id="cancelUpload">cancel</button>
                            </div>
                            <div id="progress-area">
                                @*<div id="progress-block">
                                        <label>file:file1.txt</label>
                                        <div class="progress-bar">
                                            <div style="width: 18%;"></div>
                                            <span>18%</span>
                                        </div>
                                    </div>*@
                            </div>
                            @*<div id="progress"></div>*@
                        </div>
                    </div>


                    <div class="col-md-12">
                        <input id="submitContactForm" type="submit" class="btn btn-success btn-send" value="Send message">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-muted">
                            <strong>*</strong> These fields are required.
                        </p>
                    </div>
                </div>
            </div>

        </form>

    </div>
    <!-- /.8 -->

</div>
<!-- /.row-->