@model Alpha.Web.App.Models.ErrorViewModel

@{
    ViewData["Title"] = "Error";
}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="mx-auto col-md-6">
                <div>
                    <img src="~/images/error.png" class="img-fluid" align="left" height="100px" width="100px" />
                    <p>
                        <h1 class="text-danger">Oops!</h1>
                        <h5 class="text-info">Dear user! The request failed. Please contact the support team</h5>
                    </p>
                    @if (Model.ShowRequestId)
                    {
                        <p>
                            <strong>Request ID:</strong> <code>@Model.RequestId</code><br />
                            <strong>Time Of Error:</strong> <code>@Model.TimeOfError</code><br />
                        </p>
                    }
                </div>
                <div>
                    <form asp-action="SendReportError" asp-controller="Home" method="post">
                        <div class="container">
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <div>
                                    Please enter your email address:
                                </div>
                                <div class="form-group">
                                    <label asp-for="ReporterEmail" value="@Model.ReporterEmail" class="control-label"></label>
                                    <input asp-for="ReporterEmail" value="@Model.ReporterEmail" class="form-control" type="email" />
                                    <span asp-validation-for="ReporterEmail"></span>
                                </div>
                            }
                            <div class="form-group">
                                <input asp-for="RequestId" value="@Model.RequestId" class="form-control" type="hidden" />
                            </div>
                            <div class="form-group">
                                <input asp-for="TimeOfError" value="@Model.TimeOfError" class="form-control" type="hidden" />
                            </div>
                            <input id="sendReport" type="submit" value="Send Report" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>