@using Alpha.Infrastructure.PaginationUtility
@using Alpha.Models
@using Alpha.ViewModels
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model Alpha.ViewModels.Searches.SearchResultsViewModel

@{
    ViewBag.Title = "title";
}


@if (Model != null && Model.Articles.Any())
{
    <div class="row">
        <div id="content" class="col-xs-12 col-lg-9">
            <div class="row">
                @foreach (var instance in Model.Articles)
                {
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6 list-item">
                        <article id="@instance.Id">
                            <div class="">
                                <a asp-action="Show" asp-controller="Article" asp-route-Id="@instance.Id" class="">
                                    <img src="/images/art-logo.svg" class="image-responsive">
                                    <span class="et_overlay et_pb_inline_icon" data-icon=""></span>
                                </a>
                            </div>
                            <!-- .et_pb_image_container -->
                            <h2 class="entry-title">
                                <a asp-action="Show" asp-controller="Article" asp-route-Id="@instance.Id">@instance.Title</a>
                            </h2>

                            <p class="post-meta">
                                by
                                <span class="author vcard">
                                    <a href="#" title="Posts by Said Rohullah Allem" rel="author">S.R Allem</a>
                                </span> | <span class="published"><LocalDate utc="@instance.CreatedDate"></LocalDate></span>
                            </p>
                            <div class="post-content">
                                <div class="article-summary">
                                    <p>
                                        @Html.Raw(instance.Summary)
                                    </p>
                                </div>
                    
                            </div>
                            <a asp-action="Show" asp-controller="Article" asp-route-Id="@instance.Id" class="more-link">read more</a>
                        </article>
                    </div>
                }
            </div>
            <div class="row col-xs-12 col-lg-9">
                @await Html.PartialAsync("_PagesNavigationBar", Model.Pagination)
            </div>
        </div>

        <aside id="sidebar" class="col-xs-12 col-lg-3">
            <div class="card my-4">
                @await Component.InvokeAsync("TagList")
            </div>

            @*<div class="card my-4">
            <h5 class="card-header">
                The website is currently worked on!
            </h5>
            <div class="card-body">
                The articles are just for test.
            </div>
        </div>*@
        </aside>
    </div>
}
else
{
    <div class="col-md-12">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Not Found!</strong> Sorry we couldn't find any results matching "@ViewBag.SearchTerm"
            <button onclick="location.href='\Home'" type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
}